@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  appearance: none;
  display: block;
  color: white;
  text-decoration: none;
}
a:disabled {
  pointer-events: none;
  cursor: not-allowed;
}
:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #5b6e8e;
  background: -webkit-linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5B6E8E", endColorstr="#B28579", GradientType=0);
}
.blur-back {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 20;
  position: fixed;
  opacity: 0;
}
.memo-paper {
  aspect-ratio: 4/3;
  width: clamp(200px, 95vw, 420px);
  background-color: #f4fff3;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
.memo-header{
  background-color: #cff1fc;
  padding: 5px;
}
.memo-title {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);
  margin: 0;
  color: #363539;
  display: flex;
  gap:5px;
  align-items: center;
}
.memo-subtitle {
  font-weight: 500;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  color: #6e6d72;
}
.memo-form {
  color: #363539;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}
.memo-value{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:10px;
}
.memo-input {
  display: flex;
  gap:5px;
}
.memo-input label {
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}
.memo-input input {
  color: #363539;
  padding: 0%.2rem 0.4rem;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: #363539 2px solid;
  width: clamp(150px, 65%, 300px);
  border-radius: 0;
}

.memo-warning{
  background-color:#cff1fc;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  font-weight: 700;
  padding:5px;
}
.memo-buttons{
  display: flex;
  justify-content: flex-end;
  gap:5px;
  padding: 10px;
}
.memo-buttons button{
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);
  border-radius: 50%;
  outline: none;
  border:transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(20px, 2rem + 1vw, 45px);
  height: clamp(20px, 2rem + 1vw, 45px);
  color: #fff;
  transition: all 0.3s ease;
 
}
.memo-buttons button:hover{
  transform: scale(1.1);
}
.send-button{
   background-color: #fcb483;
}
.clear-button{
  background-color: #ff7575;
}
.send-butto:disabled{
   background-color: #fdc8a4;
}
.clear-button:disabled{
  background-color: #ff9999;
}
.poster-container{
  position: relative;
  aspect-ratio: 4/5;
  width: clamp(100px, 70vw, 300px);
  max-height: 95vh;
}
.poster-card{
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 4/5;
  width: clamp(100px, 70vw, 300px);
  background-color: #edeeda;
  max-height: 95vh;
  padding:5px;
  box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.poster-header{
  position: relative;
  aspect-ratio: 1/1;
}
.poster-title{
  position: absolute;
  bottom:15px;
  font-weight: 700;
  left: 5px;
   font-size: clamp(0.8rem, 0.8rem + 2vw, 1.1rem);
}
.poster-img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.poster-button{
  padding: 5px 12px;
  color:#fff;
  background-color: #f47018;
  font-weight: 700;
  border: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
}
.poster-button:hover{
  transform: scale(1.2);
}
.poster-desc {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.2rem);
  line-height: 1rem;
  color:#363539;
  font-weight: 700;
}
.visit-button {
  background-color: #f47018;
  color: #fff;
  width: 100%;
  border: none;
  display: block;
  padding: 0.2rem;
  border-radius: 8px;
  margin: 12px auto;
  cursor: pointer;
  font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
}
.visit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 4px;
}
.form-element label {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  font-weight: 600;
  color: #f47018;
}
.form-element input {
  font-size: 16px;
  max-width: 300px;
  padding: 4px 8px;
  border: transparent;
  border-radius: 4px;
}

.form-element textarea {
  font-size: 16px;
  max-width: 300px;
  height: 150px;
  resize: none;
  padding: 4px 8px;
  border: transparent;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
}
.canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.dialog-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  text-wrap: nowrap;
  font-size: clamp(8px, 2vw, 12px);
  font-weight: 500;
  opacity: 0;
  transform: translateY(10px);
  animation: dialogAppear 0.2s ease-out forwards;
}

@keyframes dialogAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  color: #fff;
  z-index: 40;
  bottom: 5%;
  width: 100%;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.5rem);
  line-height: 1.1;
  font-weight: 700;
}
