@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  appearance: none;
  display: block;
  color: white;
  text-decoration: none;
}
a:disabled {
  pointer-events: none;
  cursor: not-allowed;
}
:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #5b6e8e;
  background: -webkit-linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(91, 110, 142, 1) 0%,
    rgba(178, 133, 121, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5B6E8E", endColorstr="#B28579", GradientType=0);
}
.modal-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 20;
  position: fixed;
  opacity: 0;
}
.memo-paper {
  aspect-ratio: 4/3;
  width: clamp(200px, 95vw, 400px);
  background-color: #e6e687;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.memo-title {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);
  margin: 0;
  color: #363539;
}
.memo-subtitle {
  font-weight: 500;
  font-size: clamp(0.4rem, 0.4rem + 1vw, 1rem);
  color: #6e6d72;
}
.memo-form {
  margin-top: 10px;
  color: #363539;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.memo-input {
  display: flex;
}
.memo-input label {
  flex-basis: 20%;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}
.memo-input input {
  color: #363539;
  padding: 0%.2rem 0.4rem;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: #363539 2px solid;
}
.memo-input textarea {
  color: #363539;
  font-size: 16px;
  max-width: 300px;
  height: 60px;
  resize: none;
  padding: 0%.2rem 0.4rem;
  border: none;
  outline: none;
  border-bottom: #363539 2px solid;
  background-color: transparent;
  font-family: "Nunito", sans-serif;
}
.modal-content {
  aspect-ratio: 4/3;
  max-height: 90vh;
  padding: 12px;
  width: clamp(300px, 95vw, 600px);
  border-radius: 12px;
  background-color: #1b1a1f;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
  font-size: clamp(0.3rem, 0.3rem + 2vw, 1rem);
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);
  margin: 0;
}
.modal-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex: 1;
}
.pagination-button {
  background-color: #f47018;
  height: fit-content;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
  align-self: center;
}
.modal-body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.project-pic-wrapper {
  aspect-ratio: 1/1;
  width: clamp(110px, 30%, 200px);
  border-radius: 10px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  background-color: #1a1a1a;
}
.project-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.project-name {
  font-weight: 600;
  color: #f47018;
}
.categories {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.categories .category {
  background-color: #f47018;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: clamp(0.3rem, 0.3rem + 1vw, 0.8rem);
  font-weight: 500;
  color: #fff;
}
.project-desc {
  margin-top: 8px;
  font-size: clamp(0.4rem, 0.4rem + 1vw, 0.9rem);
  line-height: 1.4;
}
.visit-button {
  background-color: #f47018;
  color: #fff;
  width: 100%;
  border: none;
  display: block;
  padding: 0.2rem;
  border-radius: 8px;
  margin: 12px auto;
  cursor: pointer;
  font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
}
.visit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 4px;
}
.form-element label {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  font-weight: 600;
  color: #f47018;
}
.form-element input {
  font-size: 16px;
  max-width: 300px;
  padding: 4px 8px;
  border: transparent;
  border-radius: 4px;
}

.form-element textarea {
  font-size: 16px;
  max-width: 300px;
  height: 150px;
  resize: none;
  padding: 4px 8px;
  border: transparent;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
}
.canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.dialog-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  text-wrap: nowrap;
  font-size: clamp(8px, 2vw, 12px);
  font-weight: 500;
  opacity: 0;
  transform: translateY(10px);
  animation: dialogAppear 0.2s ease-out forwards;
}

@keyframes dialogAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  color: #fff;
  z-index: 40;
  bottom: 5%;
  width: 100%;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.5rem);
  line-height: 1.1;
  font-weight: 700;
}
